.hover-opacity-75:hover {
    transition: all 0.3s;
    opacity: 0.75 !important;
}

.outline-lighter:focus {
    transition: all 0.1s;
    outline-color: cyan !important;
}

.btn-clicked:active {
    opacity: 0.5 !important;
}

/* ============================================================================== */

.margin-big {
    margin-bottom: 100px !important;
}

.margin-medium {
    margin-bottom: 80px !important;
}

.margin-small {
    margin-bottom: 60px !important;
}

/* ============================================================================== */

.tasks__wrapper {
    max-height: 58vh;
    overflow: hidden;
    overflow-y: auto;
}

/* ============================================================================== */

/* SCROLLBAR STYLES */

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 5px; /* Thickness of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #222; /* Color of the scrollbar thumb */
    border-radius: 0px; /* Optional: round edges */
}

::-webkit-scrollbar-track {
    background-color: #999; /* Light background of the scrollbar track */
}

/* For Firefox */
scrollbar-width: thin; /* Thin scrollbar */
scrollbar-color: black #f1f1f1; /* Thumb and track color (thumb, track) */
